html,body{
    margin: 0;
    padding: 0;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
}

.header-log{
    color: black;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 45px;
}

.header-log-span{
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
}

.main-menu{
    background-color: #35444f;
    padding-left: 0;

}

.main-menu a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-right: #77818t;
    border-left: #77818t;
}

.main-menu a:hover{
    background-color: #222f3a;
    border-right: 1px solid #77818t;
    border-left: 1px solid #77818t;
}

.main-menu li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

/*.main-menu li:last-child{*/
    /*width: 100%;*/


main{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
    display: flex;
}

.left-col {
    /*display: inline-block;*/
    width: 25%;
}

.content{
    /*display: inline-block;*/
    width: 75%;
    margin-left: 30px;
}

.left-menu{
    border: 1px solid #3e4245;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.left-menu li{
    padding: 15px 20px;
}

.left-menu li a{
    text-decoration: none;
    color:#3d4144;
}

.left-menu li:hover{
    background-color: #dbdbdb;
    color:#3d4144;
}

.left-menu li:hover a{
    padding-left: 15px;
}

.content-img-header{
    border: 1px solid #3e4245;
    text-align: center;
    padding: 30px;
}

.content-img-header img{
    max-width: 100%;
}
/*3e4245*/

footer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    max-width: 900px;
    background-color: #b3b7ba;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-menu li{
    display: inline-block;
    list-style: none;
}

.footer-menu li a {
    text-decoration: none;
    color: #121b22;
    margin: 0 20px;
}

.footer-menu li a:hover{
    color:#477c8a;
    border-bottom: 1px solid #477c8a;
}

.footer-menu{
    /*display: inline-block;*/
    padding-left: 0;
}

.copyright {
    /*display: inline-block;*/
    margin-left: 140px;
    line-height: 50px;
    margin-right: 10px;
}

